.movieSection {
  padding: 0.5rem 1rem;
  text-align: center;
}

.categoryTitle {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.categoryLink {
  margin: 0;
  border: 2px green solid;
  border-radius: 5px;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  color: darkgreen;
  text-decoration: inherit;
}
.categoryLink:hover {
  color: azure;
  background-color: green;
}

.movieGallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
}

.mainGallery {
  height: 350px;
  overflow: hidden;
}

.detailSection {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.movieDetail {
  margin: 0 1rem;
  min-width: 500px;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.movieDetail > img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
}

.movieDetail > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.movieTitle {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movieTitle > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.saveBtn {
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bolder;
  color: azure;
  background-color: green;
}
.saveBtn:hover {
  border: 2px solid;
  border-color: darkgreen;
  color: green;
  background-color: whitesmoke;
}
.saveBtn:disabled {
  background-color: gray;
  pointer-events: none;
  opacity: 0.5;
}

.movieDetail > div > p {
  width: calc(100% - 2rem);
  margin-top: 0.5rem;
}

.movieDetail > div > div {
  width: calc(100% - 3rem);
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}

.reviewSection {
  padding: 0 2rem;
}